<p>animation works!</p>
<h1>{{ title }}</h1>
<img src="assets/puppy.jpeg" style="height: 200px" /> <br />
<button>{{ this.buttonText }}</button>

<form #userName="ngForm" (ngSubmit)="onClickSubmit(userName.value)">
    <input type="text" name="userName" placeholder="userName" ngModel>
    <input type="submit" value="submit">

</form>
<div>
    <form [formGroup]="formdata" (ngSubmit)="onClick(formdata.value)">
        <input type="text" name="userName1" placeholder="userName1" formControlName="userName1">
        <br />
        <br />
        <input type="submit" value="Click here">
    </form>
</div>
<p> Textbox result is: {{userName1}} </p>

<div>
    <h2>
        Required Field validation
    </h2>
    <form [formGroup]="requiredForm" novalidate>
        <div class="form-group">
            <label class="center-block">Name:
                <input class="form-control" formControlName="name" >
            </label>
            <label class="center-block">Last Name:
                <input class="form-control" formControlName="lastName" >
            </label>
        </div>
        <div *ngIf="nameField.invalid && nameField.touched"
            class="alert alert-danger">
            <div *ngIf="nameField.errors.required">
                Name is required.
            </div>
        </div>
        <div *ngIf="lastNameField.invalid && lastNameField.touched"
            class="alert alert-danger">
            <div *ngIf="lastNameField.errors.required">
                Last Name is required.
            </div>
        </div>
    </form>
    <p>Form value: {{ requiredForm.value | json }}</p>
    <p>Form status: {{ requiredForm.status | json }}</p>
</div>